<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>서울의 일별 평균 대기오염도</title>
    <meta property="og:title" content="링크잇 데이터 시각화 데모 - 서울의 일별 평균 대기오염도"/>
    <meta property="og:site_name" content="서울의 일별 평균 대기오염도 - 링크잇"/>
    <meta property="og:description" content="서울의 일별 평균 대기오염도 "/>
    <meta property="og:type" content="website"/>
    <meta name="keywords" content="데이터 시각화, 링크잇, geo, map" />
    <!-- begin :: styles -->
    <link href="css/vender/vender.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- end :: styles -->
</head>
<body ng-app="AirPollutionApp">
<!-- container -->
<div id="container" ng-controller="rootCtrl as main">

    <div id="header" ng-cloak>
        <h1><span ng-click="main.navShow = main.navShow ? false : true">{{main.h1Title}}</span> ▼</h1>
        <ul class="nav" ng-show="main.navShow">
            <li ng-repeat="menu in main.navList" ng-click="main.navClick(menu.label)"><a ui-sref="{{menu.link}}">{{menu.label}}</a></li>
        </ul>
    </div>

    <div id="contents" ui-view></div>

</div>
<!-- //container -->

<script src="js/vender.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script src="js/script.js"></script>

</body>
</html>