<!-- chkMapType -->
<div id="chkMapType" class="chk_map_type">
    <input type="radio" ng-model="current.mapType" id="mapType1" name="mapType" value="googlemap" ng-change="current.chgMapType()"/>
    <label for="mapType1">googlemap</label>
    <input type="radio" ng-model="current.mapType" id="mapType2" name="mapType" value="openstreetmap" ng-change="current.chgMapType()"/>
    <label for="mapType2">openstreetmap</label>
</div>
<!-- //chkMapType -->
<div id="control">
    <span ng-repeat="item in current.buttonList">
        <input type="radio" id="{{item.id}}" name="type" ng-model="current.checkType" ng-change="current.colorTypeChange(item.label)" ng-init="$last ? current.btnSet() : null" value="{{item.value}}">
        <label for="{{item.id}}">{{item.label}}</label>
    </span>
    <div class="date date2">{{current.currentDate}}</div>
</div>