<header ng-cloak>
    <h1>
        {{root.h1Title}}
        <span ng-click="header.navButtonClick()"> ( {{header.navButtonMSg}} )</span>
    </h1>
    <ul class="nav" ng-show="header.navShow">
        <li ng-repeat="menu in header.navList" ng-click="header.navClick(menu.label)"><a ui-sref="{{menu.link}}">{{menu.label}}</a></li>
    </ul>
    <div class="origin">[데이터 출처] <a href="http://data.seoul.go.kr/" target="_blank">서울 열린 데이터 광장</a>, <a href="www.kma.go.kr/" target="_blank">기상청</a></span></div>
</header>