@font-face {
        font-family: 'Nanum Gothic';
        src: url('../fonts/NanumGothicCompact.eot');  /* IE6-8 */
        src: local('☺'),
        		url('../fonts/NanumGothicCompact.woff') format('woff'),  /* FF3.6, IE9 */
				url('../fonts/NanumGothicCompact.ttf') format('truetype');  /* Saf3+,Chrome,FF3.5,Opera10+ */
}

* {
	font-family: 'Nanum Gothic' !important;
	font-size: 13px;
}

body {
	margin: 0;
	padding: 0;
}

#header {position: relative; height: 70px; background: #000;}
#header h1 {list-style: none; color: #fff; margin:0; padding: 0 0 0 30px; font-size: 18px; font-weight: bold; line-height: 70px; cursor: pointer; text-align: center;}
#header h1 span {font-size: 20px; padding-right: 10px;}

#header .nav {position: absolute; top: 70px; padding: 0; margin:0 0 0 0px; width: 100%; z-index: 10; background: #000; opacity: .7;}
#header .nav li {list-style: none; text-align: center; color: #fff; font-size: 20px; font-weight: bold; padding: 0 10px; line-height: 30px; cursor: pointer;}
#header .nav li a:hover {color: #46a546}
#header .nav li a {font-size: 20px; color: #fff; text-decoration: none;}


#contents {
	position: relative;
	margin: 30px;
}

#control {
	position: relative;
	margin-bottom: 10px;
	margin-right: 0;
}

#control label {
    float: left;
}

#control:after {
    content: '';
    display: block;
    clear: both;
}

#control .date {
	position: absolute;
	top: 40px;
	right: 0;
	font-weight: bold;
	font-size: 16px;
}

#control .date2 {
	top: 10px;
}

#map {
	margin: 10px 0;
	width: 100%;
	height: 600px;
	border: 1px solid #ccc;
}

#slider-container {
	position: relative;
	padding-bottom: 20px;
	padding-top: 6px;
	margin-right: 150px;
}

#slider-container .year-month {
	display: inline-block;
	position: absolute;
	margin-left: -25px;
	bottom: 1px;
	padding-top: 5px;
	font-size: 12px;
	width: 50px;
	cursor: pointer;
}

#slider-container .year-month .bar {
	position: absolute;
	width: 1px;
	height: 6px;
	top: -6px;
	left: 24px;
	background-color: #777;
	z-index: 100;
}

#slider {
	width: 100%;
}

footer {
	margin: 30px 0;
}

.info {
  padding: 6px 8px;
  font-size: 14px;
  width: 180px;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
  font-size: 14px;
}

.info span {
	font-size: 14px;
}

.guide.gmap {position: absolute; top:10px; right: 60px; z-index: 100;}


.legend {
	width: 110px;
  line-height: 18px;
  color: #555;
}

.legend .item {
	font-size: 11px;
}

.legend .unit {
	padding-bottom: 3px;
	text-align: right;
	font-size: 10px;
}

.legend .item.source {
	display: block;
	padding-top: 3px;
	text-align: center;
}

.legend .item.source a {
	font-size: 10px;
	color: inherit;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}


.legend.gmap {position: absolute; bottom: 30px; right: 10px; z-index: 1000;}

.ui-button .ui-button-text {
	display: block;
	line-height: 1.4;
	font-size: 13px;
	font-weight: normal;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.ui-state-active.ui-button .ui-button-text {
	font-weight: bold;
}

.css-icon {display: block; width: 4px; height: 4px; border: 2px solid #fff; border-radius: 16px; box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5); z-index: 100;}
.css-icon.gmap {width: 12px; height: 12px;}
.css-icon.active {border-color: #ff0000 !important;}

.chk_map_type { position: absolute; top: -80px; right: 0px;}

.table_view {box-sizing: border-box; overflow: hidden; margin: 0; padding: 0; border: 1px solid #ccc; background: #f1f1f1; margin-bottom: 10px;}
.table_view h2 {background: #000; color: #fff; margin: 0; padding: 0 0 0 10px; line-height: 26px;}
.table_view ul {box-sizing: border-box; overflow: hidden; margin: 0; padding: 10px;}
.table_view li {float: left; width: 33%; list-style: none; width: 205px; line-height: 26px;}

.slider_ctrl {position: absolute; top: 42px; right: 95px}
.slider_ctrl span {display: inline-block; padding: 5px; line-height: 5px; vertical-align: middle; cursor: pointer; background: #999; border: 1px solid #ccc; color: #fff; font-size: 11px; font-weight: bold;}

.origin {text-align: right; margin-top: -10px; padding-bottom: 20px; font-size: 11px;}

img.leaflet-marker-icon {margin: -30px 0 0 -20px;}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
